* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #caf8f7;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
    page-break-after: always;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    font-family: 'Beth Ellen', sans-serif;
    font-size: 22px;
    background:  #76d7c4 
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    padding-bottom: 0px;
}

nav img {
    float: left;
    padding-top: 15px;
    padding-right: 25px;

    position: relative;
}

nav h1 {
    float: left;
    padding: 0;
    padding-bottom: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 30px;
    font-family: 'Poor Story', sans-serif;
    font-size: 23px;
    padding-bottom: 5px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

    position: relative;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.container-two h1 {
    margin-top: 30px;
    left: 200px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'Poor Story', sans-serif;
}

.container-two img {
    clear: both;
}

.container-two h2 {
    right: 100px;
    position: relative;
    font-family: 'Poor Story', sans-serif;
}

.container-two img {
    box-shadow: 5px 5px lightsalmon;
    border-style: solid;
    border-width: 3px 3px;
}

.input-container-two h2, 
.input-container-one, 
.input-container-three h2 {
    right: 100px;
    position: relative;
    font-family: 'Poor Story', sans-serif;
    font-size: 30px;
}

.input-container-two input, 
.input-container-one input, 
.input-container-three input {
    display: block;
    align-items: center;
    padding: 6px;
    border: 3px gray;
    margin-top: 45px;
    margin-right: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
}

.wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.row {
    display: inline-grid;
    grid-template-columns: 1fr, 1fr;
}

.cvn-card-container, .nvn-card-container, .svn-card-container {
    padding-top: 30px;
}

.nvncard, .cvncard, .svncard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: 'Poor Story', sans-serif;
    background-color: #e8f8f5;
}

.cvncard:hover, .nvncard:hover, .svncard:hover {
    opacity: 0.7;
}

.subtitle {
    color: limegreen;
    font-style: italic;
    font-size: 20px;
}